<div class="container my-5 ">
    <div>
        <h2 class="mb-3">
            Members
        </h2>
    </div>
    <div class="cont">
        <input class="form-control mb-3" type="text" placeholder="Search Member here ..."
            aria-label="default input example" [(ngModel)]="searchValue">

        <div class="container mb-3">
            <div class="row">
                <div class="memcount col-sm">
                    <p>Member Count: {{mem_Count}}</p>
                </div>
                <div class="memcount col-sm">
                    <p>Gender Count: {{mem_Count}}</p>
                </div>
                <div class="memcount col-sm">
                    <p>Member Count: {{mem_Count}}</p>
                </div>
            </div>
        </div>

        <div>
            <select class="form-select dropdown" id="gender" name="gender" [(ngModel)]="genderValue">
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>


        <table class="membertable" *ngIf="members && members.length > 0">
            <tr class="heading">
                <!-- <th class="heading-left">ID</th> -->
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact Number</th>
                <th>Membership Status</th>
                <th class="heading-right"> </th>
            </tr>


            <tr class="cells" *ngFor="let member of members | searchfilter:searchValue | genderfilter:genderValue">
                <!-- <td class="">{{ member.id }}</td> -->
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.contactNumber }}</td>
                <!-- <td>{{ member.membershipStatus }}</td> -->
                <!-- <td>{{ member. }}</td> -->

                <button class="custom-btn btn-5" type="button" (click)="viewMember(member.id)"><span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-barbell" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M2 12h1"></path>
                        <path d="M6 8h-2a1 1 0 0 0 -1 1v6a1 1 0 0 0 1 1h2"></path>
                        <path d="M6 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"></path>
                        <path d="M9 12h6"></path>
                        <path d="M15 7v10a1 1 0 0 0 1 1h1a1 1 0 0 0 1 -1v-10a1 1 0 0 0 -1 -1h-1a1 1 0 0 0 -1 1z"></path>
                        <path d="M18 8h2a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-2"></path>
                        <path d="M22 12h-1"></path>
                    </svg>
                    View Details</span></button>
            </tr>
        </table>


    </div>
</div>