<div class="container my-5">
    <h2 *ngIf="editMode" class="mb-3">Edit Member</h2>
    <h2 *ngIf="!editMode" class="mb-3">Member Details</h2>

    <form [formGroup]="form" autocomplete="off" (ngSubmit)="updateMember()">
        <div class="col-6">
            <div class="mb-3 form-group">
                <label class="form-label">Unique Id</label>
                <input type="text" class="form-control" id="uniqueId" placeholder="" name="uniqueId" readonly
                    formControlName="uniqueId">
            </div>
            <div class="mb-3 form-group">
                <label class="form-label">Membership Status</label>
                <input type="text" class="form-control" id="membershipStatus" placeholder="" name="membershipStatus" readonly
                    formControlName="membershipStatus">
            </div>
            <div class="mb-3 form-group">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" name="firstName"
                    formControlName="firstName">
            </div>
            <div class="mb-3 form-group">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" name="lastName"
                    formControlName="lastName">
            </div>
            <div class="mb-3 form-group">
                <label class="form-label">Gender</label>
                <select class="form-select" id="gender" name="gender" formControlName="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="mb-3 form-group">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Enter Address" name="address"
                    formControlName="address">
            </div>
            <div class="mb-3 form-group">
                <label class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="contactNumber" placeholder="Enter Contact Number"
                    name="contactNumber" formControlName="contactNumber">
            </div>
            
            <div class="mb-3">
                <label for="" class="form-label">Membership Validity --- Price</label>
                <select type="number" class="form-select" id="membershipValidity" formControlName="membershipValidity" name="membershipValidity">
                    <option value=1>1 month   --- 600 Php</option>
                    <option value=2>2 months  --- 1,200 Php</option>
                    <option value=3>3 months  --- 1,800 Php</option>
                    <option value=4>4 months  --- 2,400 Php</option>
                    <option value=5>5 months  --- 3,000 Php</option>
                    <option value=6>6 months  --- 3,600 Php</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="" class="form-label">Registration Date</label>
                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        name="startDate"
                        [type]='"date"'
                        formControlName = "startDate"
                        ngbDatepicker
                    />
                </div>
            </div>

            <button *ngIf="editMode" class="custom-btn btn-5" type="submit"><span>Save</span></button>
            <!-- <button *ngIf="editMode" pButton pRipple icon="pi pi-check" class="btn btn-primary"
                type="submit">Save</button> -->
            
            <button *ngIf="editMode" class="custom-btn btn-5" type="button" (click)="deleteMember()"><span>Delete</span></button>
            <!-- <button *ngIf="editMode" pButton pRipple icon="pi pi-trash" class="btn btn-danger" type="button"
                (click)="deleteMember()">Delete</button> -->

            <!-- <button *ngIf="!editMode" pButton pRipple icon="" class="" type="button" (click)="edit()">Edit</button> -->
            <button *ngIf="!editMode" class="custom-btn btn-5" type="button" (click)="edit()"><span>Edit</span></button>

            <button *ngIf="editMode" class="custom-btn btn-5" type="button" (click)="cancel()"><span>Cancel</span></button>
            <!-- <button *ngIf="editMode" class="" type="button" (click)="cancel()">Cancel</button> -->

            <button *ngIf="!editMode" class="custom-btn btn-5" type="button" (click)="cancel()"><span>Back</span></button>
            <!-- <button *ngIf="!editMode" class="" type="button" (click)="cancel()">Back</button> -->


            <!-- <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
            <button *ngIf="!editMode" class="btn btn-danger" type="button" (click)="cancel()">Back</button> -->

        </div>
    </form>
</div>